.banner {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 750px;
  height: 500px;
  max-width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 50px !important;
  overflow: hidden;
}

.banner p {
  max-width: 100%;
  font-weight: 500;
  color: #fff;
  text-align: justify;
  width: 93%;
}
